body {
    
    text-align: center;
    padding: 25px;
  background: #52b434;
}
#ima{
    width: auto;
    height: 50%
}

#submit:hover, #random:hover {
  background: rgba(2, 216, 245, 0.95);
  color: black;
}
input, button {
  outline: none;
}
.content {
  position: relative;
  text-align: left;
  width: 80%;
  margin: 25px auto;
  background: rgba(207, 211, 156, 0.95);
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
}

.title {
  font-style: italic;
  font-size: 40px;
  margin-top: 15px;
  color: rgb(22, 194, 151);

}
.snippet {
  font-size: 18px;
  margin-top: -25px;
}
a{
  text-decoration: none;
}

.content:hover {
  background: rgb(42, 196, 63);
  color: black;
  cursor: pointer;
 }
.content:hover h4 {
  color: black;
 }
 #input {
  font-size: 18px;
  border-radius: 4px;
  border: none;
  height: 38px;
  width: 35%;
  vertical-align: middle;
  padding-left: 10px;
}

#submit {
  font-size: 18px;
  border-radius: 4px;
  background: rgb(213, 235, 90);
  border: none;
  height: 40px;
  width: 25%;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}
#random {
  font-size: 18px;
  border-radius: 4px;
  background: rgb(25, 231, 221);
  border: none;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 30%;
  cursor: pointer;
  font-style: italic;
}
.ser {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}
.inpp{
width:30%;
height:40px;
}